@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

body {
    background-color: rgb(39, 39, 39);
    text-align: center;
}

table {
    color: whitesmoke;
    border-spacing: 0px;
    position: absolute;
    top: 25%;
    left: 25%;
    
}
th {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(252, 139, 98);
    text-align: left;
    padding: 5px;
}
td {
    text-align: left;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
    border-left: 1px dashed orange;
    border-right: 1px dashed orange;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 186, 161);
}
tr:hover{
    background-color: rgb(65, 65, 65);
    transition: 0.25s;
}

.searchBox {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    text-align: left;
    color: orange;
    font-family: 'Roboto', sans-serif;
}
input {
    border-color: orange;
    border-radius: 20px;
    border-style: solid 5px;
    width: 50%;
    height: 30px;
    background: none;
    color: whitesmoke;
    text-align: center;
}
input:focus {
    width: 75%;
    transition: 0.25s;

    border-color: orange;
    border-radius: 20px;
    border-style: solid 5px;
    background: none;
    color: whitesmoke;
}


.siteBox {
    color: whitesmoke;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    border: dotted 4px orangered;
}
.optionsBox {
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 80%;
    width: 100%;
}

.infobox{
    color: whitesmoke;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 20%;
    width: 100%;
    border-top: dashed;
    border-color: orange;
}

.headLine {
    position: absolute;
    top: 0%;
    left: 25%;
    transform: translate(0, 0);
}

h1{
    font-family: 'Roboto', sans-serif;
    color: orangered;
}
h2{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}


button {
    border-radius: 10px;
    border-style: dashed;
    border-color: rgb(139, 139, 139);
    background-color: rgb(65, 65, 65);
    color: whitesmoke;
}
.deleteButton:hover {
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 174, 174);
    transition: 0.25s;
}
.recoverButton:hover {
    border-color: rgb(43, 255, 0);
    background-color: rgb(187, 255, 174);
    color: black;
    transition: 0.25s;
}
.editButton:hover {
    border-color: rgb(0, 0, 255);
    background-color: rgb(174, 175, 255);
    transition: 0.25s;
}
.newButton:hover {
    border-color: rgb(0, 0, 166);
    background-color: rgb(67, 68, 100);
    color: black;
    transition: 0.25s;
}
.newButton {
    width: 75%;
    border-radius: 5px;
    height: 30px;
}

.deletedButton {
    width: 75%;
    border-radius: 5px;
    height: 30px;
}
.deletedButton:hover {
    border-color: rgb(0, 0, 116);
    background-color: rgb(67, 68, 100);
    color: black;
    transition: 0.25s;
}

.activeButton {
    width: 75%;
    border-radius: 5px;
    height: 30px;
}
.activeButton:hover {
    border-color: rgb(0, 0, 116);
    background-color: rgb(67, 68, 100);
    color: black;
    transition: 0.25s;
}
